[submodule "tests/gb-test-roms"]
	path = tests/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
[submodule "tests/GameboyCPUTests"]
	path = tests/GameboyCPUTests
	url = https://github.com/evanwporter/GameboyCPUTests.git
[submodule "tests/mooneye-test-suite"]
	path = tests/mooneye-test-suite
	url = https://github.com/evanwporter/mooneye-test-suite
[submodule "vemu/debug"]
	path = vemu/debug
	url = https://github.com/evanwporter/GBDebugger
