name: build vemu

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        test:
          - test_vemu
          - test_vemu_advance

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@v6

      - name: Set up OSS CAD Suite
        uses: YosysHQ/setup-oss-cad-suite@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install vcpkg
        shell: pwsh
        run: |
          git clone https://github.com/microsoft/vcpkg.git ${{github.workspace}}/vcpkg
          git -C ${{ github.workspace }}\vcpkg checkout 80d025e8299d442c13b29751fc9451711b7c6c8e
          ${{github.workspace}}\vcpkg\bootstrap-vcpkg.bat
          echo "VCPKG_ROOT=${{github.workspace}}\vcpkg" >> $env:GITHUB_ENV

      - name: Configure
        run: cmake --preset debug

      - name: Build
        run: cmake --build --preset debug --target ${{ matrix.test }}

      - name: Run gameboy tests
        if: matrix.test == 'test_vemu'
        run: ctest --test-dir build/debug -R ^test_vemu$ -V

      - name: Run gameboy advance tests
        if: matrix.test == 'test_vemu_advance'
        run: >
          build\debug\advance\tests\test_vemu_advance.exe
          --gtest_filter=CPUTests/GameboyAdvanceOpcodeTest.Run/arm_data_proc_immediate_json
